<p>list-information works!</p>
<table>
    <tr>
      <th>Id</th>
      <th>end_year</th>
      <th>intensity</th>
      <th>sector</th>
      <th>topic</th>
      <th>insight</th>
      <th>url</th>
      <th>region</th>
      <th>start_year</th>
      <th>end_year</th>
      <th>intensity</th>
      <th>sector</th>
      <th>topic</th>
      <th>insight</th>
      <th>url</th>
      <th>region</th>
      <th>start_year</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
</table>  